@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

#root{
  background: #15172b;
}

.App{
  background: #15172b;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  color: rgb(206, 201, 201);
  font-family: 'Macondo', cursive !important;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wrapper {
  background: #15172b;
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  font-family: 'Macondo', cursive !important;
  /* margin-top: 10rem; */
  padding-top: 1rem;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

input[type="text"]
{
  font-family: 'Macondo', cursive !important;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  /* font-family: sans-serif; */
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}


.search_results_div{
  border: 1px solid rgb(206, 201, 201, 0.8);
  height: 35rem;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  border-radius: 20px;
  overflow: scroll;
  overflow-x: hidden;
  background: #111222;
}

@media screen and  (max-width: 769px){
  .search_results_div{
    width: 90%;
  }
}

::-webkit-scrollbar {
  display: none;
}

.fav-button{
  border-radius: 10px;
  background-color: rgb(206, 201, 201);
  font-family: 'Macondo', cursive !important;
  height: 2rem;
  margin-top: -1rem;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  font-weight: bold !important;
}

.fav-button:hover{
  background-color: rgb(66, 65, 65);
}